
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18;
  line-height: 1.5;
  border: 1px solid grey;
  margin: 30px;
  padding: 50px;
  background-color: rgb(239, 243, 252);
  color: rgb(88, 31, 68)
}

header {
  padding: 30px;
  background-color: rgb(218, 225, 240);
  }

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 20px;
}

h3 {
  font-weight: bold;
  font-size: 22px;
  margin: 10px 0px 10px 0px;
  font-family: 'Bangers';
}

img {
  float: left;
  width: 250px;
  padding-right: 50px;
}

nav {
  margin-bottom: 30px;
}

nav li {
  float: right;
  padding: 0 10px 0 10px;
  border: 2px solid grey;
  background-color: rgb(189, 225, 249);
  opacity: 0.75;
  font-family: 'Bangers';
}

nav li:hover {
  opacity: 1;
}

aside {
  width: 500px;
  height: 650px;
  margin-top: 30px;
  padding-right: 20px;
}

canvas{
  width: 300px;
  height: 500px;
}

#product1 {
  margin: 30px auto 10px auto;
  height: 400px;
  width: 900px; 
}

article {
  padding-bottom: 20px;
  margin-bottom: 50px;
}

span {
  font-weight: bold;
}
